python-dotenv
fastapi
uvicorn
sqlmodel
langchain
langchain-ollama
langchain-cloudflare
langchain-postgres
langgraph-checkpoint-postgres

# For preprocess run locally
# pandas
# langchain-text-splitters